    .TW3RadioButton{
        width: 16px;
        height: 16px;
        display: inline-block;
        position: relative;
        z-index: 1;
        top: 30px;
        /*background: url('../res/radio-off.png') no-repeat;*/
		background   : url('../res/checks.png') no-repeat 0 0;
		background-position : 0 0;
    }
 
    .TW3RadioButton:hover{
        /*background: url('../res/radio-hover.png') no-repeat;*/
		background   : url('../res/checks.png') no-repeat 0 0;
		background-position : 0 -24px;
    }
 
    .TW3RadioButton.selected{
        /*background: url('../res/radio-on.png') no-repeat;*/
		background   : url('../res/checks.png') no-repeat 0 0;
		background-position : 0 -48px;
    }
 
    .TW3RadioButton input[type="radio"]{
        margin: 1px;
        position: absolute;
        z-index: 2;
        cursor: pointer;
        outline: none;
        opacity: 0;
        /* CSS hacks for older browsers */
        _noFocusLine: expression(this.hideFocus=true);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        -khtml-opacity: 0;
        -moz-opacity: 0;
    }
