/* Apply to all elements */
* {
   margin: 0;
  padding: 0;
   border: 0;

  /* Define "normal" boxing */
  -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
	     -o-box-sizing: border-box;
	        box-sizing: border-box;


  /* no tap highlight color */
	-webkit-tap-highlight-color: transparent;
	   -moz-tap-highlight-color: transparent;
	    -ms-tap-highlight-color: transparent;
	     -o-tap-highlight-color: transparent;
	        tap-highlight-color: transparent;

  /* no border style by default */
  -webkit-border-style: none;
	   -moz-border-style: none;
	    -ms-border-style: none;
	     -o-border-style: none;
	        border-style: none;

  /* Turn off font resizing */
  -webkit-text-size-adjust: none;
	   -moz-text-size-adjust: none;
	    -ms-text-size-adjust: none;
	        text-size-adjust: none;

	-webkit-font-smoothing: always;
	   -moz-font-smoothing: always;
	    -ms-font-smoothing: always;
	        font-smoothing: always;

  /* do not allow to select anything by default */
	-webkit-user-select: none;
	        user-select: none;

  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

html, body
{
  /* iOS basics */
  -webkit-touch-callout: none;

  /* default to black screen */
  background-color: #000000;

  /* No overflow, means no scrolling */
  overflow: hidden;
}


/* =============================================
 * TCustomControl
 * ============================================= */

.TCustomControl
{
  cursor: default;
  background-color: #EFEBE7;
}

/* =============================================
 * TCustomForm
 * ============================================= */

.TCustomForm, .TForm
{
  /* This forces the browsers that support it to
     use the GPU rather than CPU for movement */
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
       -o-transform: translateZ(0);

  background-color: #D5DCE1;
  background-size: 5px 100%;
	background-image: -webkit-gradient(linear, left top, right top,
	  from(#c5ccd4),
	  color-stop(0.75, #c5ccd4),
	  color-stop(0.75, transparent),
	  to(transparent));
	background-image: -moz-linear-gradient(left,
	  #c5ccd4,
	  #c5ccd4 75%,
	  transparent 75%,
	  transparent);
}


/* =============================================
 * TButton
 * ============================================= */

.TButton {
	  border: solid 2px rgba(32,32,33,0.4);
	  border-radius: 8px;
	  -webkit-border-radius: 8px;
		 -moz-border-radius: 8px;
		  -ms-border-radius: 8px;
		   -o-border-radius: 8px;

	  background: rgb(226,226,226); /* Old browsers */
	  background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 52%, rgba(254,254,254,1) 100%); /* FF3.6+ */
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(52%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 52%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
	  background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 52%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
	  background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 52%,rgba(254,254,254,1) 100%); /* IE10+ */
	  background: linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 52%,rgba(254,254,254,1) 100%); /* W3C */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

	  font-size: 18px;
	  font-weight: thin;
	  text-shadow: 1px 1px -1px #cecece;
	  color:  #000;

  -webkit-text-size-adjust: auto;
	 -moz-text-size-adjust: auto;
	  -ms-text-size-adjust: auto;
	   -o-text-size-adjust: auto;
}

.TButton:active:enabled {
	  color: #FFFFFF;

	  background: rgb(207,231,250); /* Old browsers */
	  background: -moz-linear-gradient(top,  rgba(207,231,250,1) 0%, rgba(99,147,193,1) 52%, rgba(78,136,191,1) 66%, rgba(192,224,249,1) 96%); /* FF3.6+ */
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,231,250,1)), color-stop(52%,rgba(99,147,193,1)), color-stop(66%,rgba(78,136,191,1)), color-stop(96%,rgba(192,224,249,1))); /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(top,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 52%,rgba(78,136,191,1) 66%,rgba(192,224,249,1) 96%); /* Chrome10+,Safari5.1+ */
	  background: -o-linear-gradient(top,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 52%,rgba(78,136,191,1) 66%,rgba(192,224,249,1) 96%); /* Opera 11.10+ */
	  background: -ms-linear-gradient(top,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 52%,rgba(78,136,191,1) 66%,rgba(192,224,249,1) 96%); /* IE10+ */
	  background: linear-gradient(top,  rgba(207,231,250,1) 0%,rgba(99,147,193,1) 52%,rgba(78,136,191,1) 66%,rgba(192,224,249,1) 96%); /* W3C */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#c0e0f9',GradientType=0 ); /* IE6-9 */

	  text-shadow: none;
}

.TButton:disabled {
	opacity: 0.50;
}
