/* CSS Document */
*{
	margin:0px;
	padding:0px;
	border:0px;	
}
body.wrapper {
	background:#ececec;
}
.device-inner{
	height:100%;
	border:solid 20px #000;
	border-radius:40px;
	border-bottom:solid 80px #000;
	border-top:solid 60px #000;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	z-index:2;
	width:340px;
}
div.device {
	   background-color: #ccc;
    border-radius: 45px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 5px;
	width: 380px;
}
.frame-scroll-correction {
    background-color: #000;
    height: 100%;
    position: absolute;
    right: -20px;
    width: 22px;
    z-index: 99;
}
.main-frame {
    background-color: #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}
.page-content {
	overflow-x: hidden;
}